:root {
  /* --------- PALETA DE CORES -----------*/

  --orange: rgba(250, 74, 12, 1);
  --second-text: rgba(115, 115, 115, 1);
  --text: rgba(37, 43, 66, 1);
  ;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
